*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --ff-heading: 'Staatliches', cursive;
    --ff-body: 'Palanquin', sans-serif;

    --hue: 230;
    --bg-primary: hsl(233, 100%, 97%);
    --bg-secondary: hsl(218, 17%, 62%);
    --bg-tertiary: hsla(275, 18%, 79%, 1);
    --bg-tertiary-white: hsl(312, 91%, 96%);
    --fc-primary: hsl(0, 0%, 100%);
    --fc-secondary: hsl(274, 84%, 12%);
    --fc-tertiary: hsl(232, 17%, 35%);

    --fs-heading: 4rem;
    --fs-body: 2rem;


}

header{
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);

    background-color: var(--bg-secondary);



}

header h1{
    background-color: var(--bg-tertiary);
    
    color: var(--fc-primary);
    font-size: var(--fs-heading);
    line-height: 3.4rem;
    
    height: 4.9rem;

    display: flex;
    align-items: center;
    justify-content: center;    

    
    
}

#logo{
    margin: 3.5rem 12.5rem 4rem;

    width: 15rem;

}

.page{
    max-width: 38.4rem;
    margin: 0 auto;

}

img{
    width: 100%;
    height: auto;

    animation: downtop 700ms;
    animation-timing-function: ease;
} 

main p {
    font-family: var(--ff-body);
    
    font-size:1.5rem;

    color: var(--fc-secondary);
    
    width: 30rem;

    line-height: 2rem;
    font-weight: 400;

    display: flex;
    align-items: center;
    text-align: center;    

    margin-top: 1.4rem;
}

body{

    font-family: var(--ff-body);

    font-size: var(--fs-body);

    color: var(--fc-secondary);

    
}

main{
    
    background-color: var(--bg-primary);

    display: grid;
    gap: 3.6rem;
    align-items: center;

    padding: 0 5rem;

}

.card{
    position: relative;
}

.card h2{

    position: absolute;
    top: 1.7rem;
    right: 1.5rem;

    font-family: var(--ff-heading);

    background-color: var(--bg-tertiary-white);

    border-radius: 2rem;
    font-size: var(--fs-body);
    letter-spacing: 0.05rem;
    color: var(--fc-tertiary);
    font-weight: 400;
    padding: 0 2.3rem;
    height: 3.4rem;
    width: fit-content;

    display: inline-flex;
    align-items: center;

    animation: topdown 700ms;
    animation-timing-function: ease;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);

    }
}